.container {
    /* border: 1px solid red; */
    width: 250px;
}

.imgContainer {
    /* border: 1px solid green; */
    background-color: white;
    width: 100%;
    position: relative;
    border-radius: 20px;
    padding: 10px;
}

.icon {
    border: 1px solid gray;
    border-radius: 8px;
    padding: 4px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
}

.icon:hover {
    background-color: #DCDCDC;
}

.label {
    /* border: 1px solid black; */
    font-size: small;
    color: grey;
    margin: 20px 0;
}

.price {
    /* border: 1px solid pink; */
    font-size: large;
    font-weight: bold;
    color: black;
    margin-top: 8px;
}